@font-face {
    font-family: lolFont;
    src: url(fonts/BeaufortforLOL-Regular.ttf);
}

@font-face {
    font-family: lolFontBold;
    src: url(fonts/BeaufortforLOL-Bold.ttf);
}

main {
    margin-top: 15px;
}

#accountHolder {
    margin-left: 28%;
    margin-top: 90px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

#szuro {
    text-align: center;
    position: fixed;
    max-width: 450px;
    min-width: 400px;
    width: 20%;
    height: 85%;
    background-color: #0397AB;
    font-size: 130%;
    padding: 10px;
    border-radius: 10px;
    margin: 85px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.szuroContent {
    overflow: auto;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#szuro hr {
    margin: 10px 0;
}

#szuro label {
    font-size: 120%;
    font-family: lolFontBold, sans-serif;
}

#szuro h3 {
    font-size: 180%;
    font-family: lolFontBold, sans-serif;
}

#szuro > div > input {
    font-size: 110%;
    color: #005A82;
    margin: 5px 0;
    width: 80%;
    padding: 5px;
    border-radius: 10px;
    border: none;
}

.minMaxContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.minMaxContainer > input {
    font-size: 110%;
    color: #005A82;
    margin: 5px 0;
    width: 38.5%;
    padding: 5px;
    border-radius: 10px;
    border: none;
}

.skinTierContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: larger;
    font-family: lolFontBold, sans-serif;
}

#szuro select {
    min-height: 70px;
    font-size: 90%;
    margin: 5px 0;
    width: 80%;
    padding: 5px;
    border-radius: 10px;
    border: none;
}

#szuro select option {
    border-radius: 10px;
    font-size: 100%;
    color: #005A82;
    padding: 3px;
}

#szuro select option:hover {
    background-color: #005A82;
    color: #F0E6D2;
}

#szuro button {
    width: 150px;
    background-color: #005A82;
    color: #F0E6D2;
    border: none;
    border-radius: 10px;
    padding: 10px 25px;
    margin-top: 10px;
    font-size: 120%;
    cursor: pointer;
}

#szuro button:hover {
    background-color: #F0E6D2;
    color: #005A82;
} 

.account {
    width: 370px;
    max-width: 370px;
    min-width: 370px;
    font-family: lolFontBold, sans-serif;
    background-color: #0397AB;
    height: 470px;
    text-align: center;
    margin: 15px;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.account:hover {
    transform: scale(1.05);
    transition: all 0.2s ease-in-out;
    box-shadow: #005A82 0px 0px 10px 5px;
}

p {
    padding: 0;
    margin: 0;
}

.account > img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: #005A82 0px 0px 10px 5px;
}

.accountText {
    width: 95%;
    margin-top: 5px;
    font-size: 140%;
    font-family: lolFont, sans-serif;
    text-align: left;
}

.skins {
    text-align: center;
    margin-top: 10px;
}

.skins img{
   width: 20px; 
}

.accountPrice {
    text-align: center;
    margin: 0;
    font-size: 150%;
    font-family: lolFontBold, sans-serif;
}

.purchaseButton {
    position: relative;
    bottom: 0;
    background-color: #005A82;
    color: #F0E6D2;
    border: none;
    border-radius: 10px;
    padding: 10px 25px;
    font-size: 120%;
    cursor: pointer;
    
}

.purchaseButton:hover {
    background-color: #F0E6D2;
    color: #005A82;
    transition: all 0.1s ease-in-out;
}

footer {
    position: fixed;
    bottom: 0;
    right: 0;
    display: flex;
}

